*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.clickable {
  cursor: pointer;
}

.container {
  width: 80vw;
  height: 100vh;
  padding: 2rem;
  flex-wrap: wrap;
}
