*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.clickable {
  cursor: pointer;
}

.container {
  width: 80vw;
  height: 100vh;
  padding: 2rem;
  flex-wrap: wrap;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}
